<div>
  <h1>Tracks</h1>
</div>

<div class="error" *ngIf="error | async">
  {{ error | async }}
</div>

<mat-progress-spinner
    *ngIf="(loading | async) else tracksArea"
    mode="indeterminate"
></mat-progress-spinner>

<ng-template #tracksArea>
  <div fxLayout="column" fxLayoutGap="8px grid">
    <div *ngFor="let track of tracks | async">
      <mat-card>
        <mat-card-title>{{track.name}}</mat-card-title>
        <mat-card-subtitle>Duration: {{track.duration}}</mat-card-subtitle>
        <mat-card-actions>
          <button mat-button (click)="addToTrackHistory(track._id)">LISTEN</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</ng-template>
